@using AspNetSystemInfo.Controllers
@using AspNetSystemInfo.Models
@model DefaultController

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <dl>
            <dt>Hostname</dt>
            <dd>@Environment.MachineName</dd>
        </dl>
        @{
            var info = ManagementExtensions.GetManagementInfo("Win32_Processor");
        }


        @foreach (var dict in info)
        {
            <h4>@dict.Key</h4>
            <table>

                @RenderItemFromDictionary("Name", dict.Value)
                @RenderItemFromDictionary("NumberOfCores", dict.Value)
                @RenderItemFromDictionary("NumberOfEnabledCore", dict.Value)
                @RenderItemFromDictionary("NumberOfLogicalProcessors", dict.Value)
                @RenderItemFromDictionary("CurrentClockSpeed", dict.Value)
                @RenderItemFromDictionary("MaxClockSpeed", dict.Value)
                @RenderItemFromDictionary("SystemName", dict.Value)
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>

                @foreach (var item in dict.Value)
                {
                    <tr>
                        <td>@item.Key</td>
                        <td>@item.Value</td>
                    </tr>
                }
            </table>
        }
    </div>
</body>
</html>

@helper RenderItemFromDictionary(string itemKey, Dictionary<string, object> collection)
{
    if (!collection.ContainsKey(itemKey))
    {
        return;
    }

    var item = collection[itemKey];
    collection.Remove(itemKey);

    <tr>
        <td>@itemKey</td>
        <td>@item</td>
    </tr>
}